.song-is-liked-svg-container {
    width: 16px;
    height: 16px;
    // padding-right: 24px;
    fill: rgb(30, 215, 96);
    background-color: transparent;
}

@mixin flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.song-list-container {
    margin-left: 20px;
    margin-right: 20px;
}

.song-list {

    z-index: 10;

    // Columns - Preview and Header in match
    & .song-index {
        @include flex-center-center();

        &.playing {
            color: rgb(30, 215, 96);
        }
    }

    .preview-play-svg-container {
        fill: white;
    }

    .length-svg-container {
        width: 16px;
        height: 16px;
        padding-right: 8px;
        fill: $secondary-font-color;
    }

    .add-to-liked-svg-container {
        width: 16px;
        height: 16px;
        // padding-right: 24px;
        fill: $secondary-font-color;
        background-color: transparent;
    }



    & .svg-container {
        height: 20px;
        width: 20px;
        @include flex-center-center()
    }

    & .song-details {
        @include flex-start-center();

        white-space: nowrap;
        overflow: hidden;

        & .title-and-artist {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        & .song-title {
            font-size: 1rem;

            &.playing {
                color: rgb(30, 215, 96);
            }
        }

        & .song-artist {
            font-size: 0.875rem;
        }
    }

    & .song-album {
        @include flex-start-center();

        @media (max-width: 840px) {
            display: none;
        }
    }

    & .date-added {
        @include flex-end-center();

        @media (max-width: 700.1px) {
            display: none;
        }
    }

    & .song-length {
        @include flex-center-center();
        gap: 20px;
    }

    & .playlist-columns {
        display: grid;
        grid-template-columns: $playlist-columns;
        padding-left: 16px;
        padding-right: 16px;
        grid-template-rows: 100%;
        column-gap: 16px;

        @media (max-width: 850px) {
            grid-template-columns: $no-date-and-album-columns;
        }

        @media (min-width: 850.01px) and (max-width: 1000px) {
            grid-template-columns: $no-date-columns;
        }
    }

    & .list-header {
        height: 35.2px;
        border-bottom: 0.8px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 10px;
    }

    & .song-preview {
        height: 56px;
        border-radius: 4px;

        & .song-options {
            fill: white;
            height: 30px;
            width: 30px;
            padding: 0px;
            padding-top: 2px;
        }

        &:hover {
            background-color: hsla(0, 0%, 100%, .07)
        }

        &.song-preview-active {
            background: linear-gradient(rgba(65, 65, 65, 0.1) 40%, rgba(65, 65, 65, 0.2) 100%);
        }

        & img {
            width: 40px;
            height: 40px;
            min-height: 40px;
            min-width: 40px;
        }

    }
}