.playline {
    grid-area: now-playing-bar;
    background-color: rgb(233, 255, 190);
    height: 72px;
    background-color: rgb(204, 99, 99);

    display: flex;
    align-items: center;
    justify-content: space-between;
}