.sidebar {
  grid-area: nav-bar;
  font-family: CircularSp;
  width: var(--vertical-nav-width);
  height: 100%;
  background-color: #000;
  padding-bottom: var(--now-playing-bar-height);
  border-color: rgb(179, 179, 179);
  display: flex;
  flex-direction: column;
  gap: 8px;

  &>* {
    background-color: $component-bg-color;
  }

  & .navigation {
    color: #c4c4c4;
    padding: 18px 12px;
    border-radius: $layout-border-radius;
  }

  & .sidebar-libary {
    border-radius: $layout-border-radius;
    overflow: auto;
  }

  & .nav-button {
    padding: 5px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin: 5px 0;
    font-size: 1rem;
    gap: 10px;
    // grid-template-columns: auto 1fr auto;

    & .nav-button-svg {
      width: 36px;
      height: 36px;
      display: grid;
    }

    & .nav-button-text {
      font-family: "CircularSpotify";
      font-size: medium;
      font-weight: bold;
    }
  }
}