.sidebar {
  cursor: pointer;
  font-family: CircularSp;
  grid-area: nav-bar;
  width: var(--vertical-nav-width);
  height: 100%;
  min-height: 100%;
  background-color: #000;
  padding-top: 24px;
  padding-bottom: var(--now-playing-bar-height);
  border-radius: 10px;
  border-color: rgb(179, 179, 179);

  & .navigation {
    background-color: rgba(56, 59, 59, 0.851);
    color: #c4c4c4;
    padding: 18px 12px;
  }

  & .sidebar-libary {
    background-color: rgba(202, 123, 18, 0.851);
    height: 737px;
    border-radius: 8px;
  }

  & .nav-button {
    padding: 5px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin: 5px 0;
    font-size: 1rem;
    gap: 10px;
    // grid-template-columns: auto 1fr auto;

    & .nav-button-svg {
      width: 36px;
      height: 36px;
      display: grid;
    }
    & .nav-button-text {
      font-family: "CircularSpotify";
      font-size: medium;
      font-weight: bold;
    }
  }
}
