.sidebar {
  cursor: default;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 853px;
  height: 853px;
  width: 365px;
  gap: 8px;
  border-radius: 10px;
  border-color: rgb(179, 179, 179);

  & .navigation {
    background-color: rgba(56, 59, 59, 0.851);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .sidebar-libary {
    background-color: rgba(56, 59, 59, 0.851);
    height: 737px;
    border-radius: 8px;
  }

  // & .nav-buttons{

  // }

  & .nav-button {
    font-size: 1rem;
    font-weight: 700;
  }
}
