.sidebar {
  grid-area: nav-bar;
  width: $vertical-nav-width;
  // height: 100%;
  overflow: hidden;
  background-color: #000;
  border-color: rgb(179, 179, 179);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 100;

  &>* {
    background-color: $component-bg-color;
  }

  & .navigation {
    color: #c4c4c4;
    padding: 8px 12px;
    border-radius: $layout-border-radius;
  }

  & .sidebar-libary {
    border-radius: $layout-border-radius;
    height: 100%;
  }

  & .nav-button {
    padding: 4px 12px;
    display: flex;
    gap: 20px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    color: $secondary-font-color;
    font-size: 1rem;

    &.active {
      color: white;

      & .nav-button-svg {
        fill: white;
      }
    }

    &:hover {
      color: white;
    }

    & .nav-button-svg {
      width: 24px;
      height: 24px;
      fill: $secondary-font-color;
    }

    & .nav-button-text {
      font-size: medium;
      font-weight: bold;
    }
  }

  .sidebar-libary-header {
    display: flex;
    gap: 8px;
    height: 40px;
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;

    & .your-libary {
      display: flex;
      margin-right: 25px;
      align-items: center;
      justify-content: flex-start;
      padding: 4px 8px;
    }

    & .your-libary-txt {
      font-weight: 700;
      color: $secondary-font-color;
    }

    & .libary-svg {
      width: 24px;
      height: 24px;
      margin-right: 12px;
      fill: $secondary-font-color;
    }

    & .new-playlist {
      background-color: transparent;
    }

    & .plus-svg {
      width: 16px;
      height: 16px;
      fill: $secondary-font-color;
    }

  }

  & .libary-station-list {

    scrollbar-width: thin;
    height: 100%;
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }
}