.sidebar-station-preview {
    height: 48px;
    padding: 8px;
    display: flex;
    gap: 12px;
    border-radius: 8px;

    &:hover {
        background-color: #1A1A1A;

        &.station-active {
            background-color: #393939;
        }
    }

    &.station-active {
        background-color: #232323;
    }

    & .station-preview-text {
        display: flex;
        flex-direction: column;
        font-weight: 400;


        & .created-by {
            color: $secondary-font-color;
            font-size: 14px;
        }
    }

    & img {
        width: 48px;
        height: 48px;
        border-radius: 4px;
    }
}

.main-station-preview {
    padding: 12px;
    width: 180;
    height: 240px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .station-preview-text {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 4px;
        font-weight: bold;

        & .created-by {
            color: $secondary-font-color;
            font-size: 14px;
        }
    }

    & img {
        width: 180px;
        height: 180px;
        border-radius: 6px;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.015);
    }
}