.station-list {
    display: flex;
    overflow-x: scroll;
}

.station-list::-webkit-scrollbar {
    display: none;
}

.station-list {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.station-list-container {
    display: flex;
    flex-direction: column;
}

.list-title {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 700;
    padding-left: 12px;
}