@font-face {
  font-family: 'CircularSpotify';
  font-style: bold;
  font-weight: 700;
  src: local("../../fonts/CircularSpotifyText-Black.otf");
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  font-family: 'CircularSpotify', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  &>* {
    font-family: 'CircularSpotify', sans-serif;
  }
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  // padding: 0.6em 1.2em;
  // font-size: 1em;
  // font-weight: 500;
  // font-family: inherit;
  // background-color: #1a1a1a;
  // transition: border-color 0.25s;
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

svg {
  height: 100%;
  width: 100%;
}

.secondary {
  color: $secondary-font-color;
}


.page {
  scrollbar-width: thin;
  overflow-y: auto;
  scrollbar-gutter: auto;
}

::-webkit-scrollbar-button {
  display: none;
}



// ::-webkit-scrollbar {
//   width: 10px;
// }

// ::-webkit-scrollbar-track {
//   background: rgba(0, 0, 0, 0);
// }

// ::-webkit-scrollbar-thumb {
//   background: $secondary-font-color;
// }

// ::-webkit-scrollbar-button {
//   background-color: #00000000;
// }