.main-app {
    display: grid;
    box-sizing: border-box;
    padding: 8px;
    width: 100vw;
    height: 100vh;

    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "nav-bar main-view"
        "now-playing-bar now-playing-bar";

    overflow: hidden;
    position: relative;
    scrollbar-width: none;
    font-size: 16px;
    background-color: black;
    gap: 8px;

}

.page {
    grid-area: main-view;
    border-radius: $layout-border-radius;
    overflow: hidden;
    background-color: $component-bg-color;
    overflow-y: auto;
    // scroll-behavior: smooth;
}

.page::-webkit-scrollbar-track {
    background: #ff1111;
}