:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
@font-face {
  font-family: "CircularSpotify";
  font-style: bold;
  font-weight: 700;
  src: local("../../fonts/CircularSpotifyText-Black.otf");
}
li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

svg {
  height: 100%;
  width: 100%;
}

.main-app {
  display: grid;
  --vertical-nav-width: 232px;
  --now-playing-bar-height: 11vh;
  width: 100vw;
  height: 100vh;
  background-color: darkgray;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-areas: "nav-bar main-view" "now-playing-bar now-playing-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  position: relative;
  scrollbar-width: none;
  font-size: 16px;
}
.main-app -webkit-scrollbar {
  display: none;
}

.page {
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 8px;
  overflow: hidden;
}

.search {
  background-color: cadetblue;
}

.playline {
  grid-area: "now-playing-bar";
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: rgb(233, 255, 190);
}

.sidebar {
  cursor: pointer;
  font-family: CircularSp;
  grid-area: nav-bar;
  width: var(--vertical-nav-width);
  height: 100%;
  min-height: 100%;
  background-color: #000;
  padding-top: 24px;
  padding-bottom: var(--now-playing-bar-height);
  border-radius: 10px;
  border-color: rgb(179, 179, 179);
}
.sidebar .navigation {
  background-color: rgba(56, 59, 59, 0.851);
  color: #c4c4c4;
  padding: 18px 12px;
}
.sidebar .sidebar-libary {
  background-color: rgba(202, 123, 18, 0.851);
  height: 737px;
  border-radius: 8px;
}
.sidebar .nav-button {
  padding: 5px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  gap: 10px;
}
.sidebar .nav-button .nav-button-svg {
  width: 36px;
  height: 36px;
  display: grid;
}
.sidebar .nav-button .nav-button-text {
  font-family: "CircularSpotify";
  font-size: medium;
  font-weight: bold;
}

.station-index {
  background-color: rgb(23, 22, 22);
  color: white;
}

.station-details {
  background-color: rgb(23, 22, 22);
  display: flex;
  flex-direction: column;
}
.station-details h1 {
  font-size: 4.5rem;
  margin: 0px;
  white-space-collapse: collapse;
  line-height: 1;
}
.station-details img {
  height: 210px;
  width: 210px;
  border-radius: 4px;
  margin-right: 16px;
}
.station-details .station-details-header {
  display: flex;
  height: 234px;
  background-color: #333333;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}
.station-details .content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.station-details .station-info {
  display: flex;
  flex-direction: column;
  height: 234px;
  justify-content: flex-end;
  align-items: flex-start;
}
.station-details .additional-info-line {
  display: flex;
  margin-top: 8px;
}
.station-details .devider {
  font-size: 14px;
  font-weight: 1000;
  margin-left: 4px;
  margin-right: 4px;
}
.station-details .station-details-actions-container {
  height: 60px;
  padding: 20px;
}
.station-details .station-details-actions {
  display: flex;
  align-items: center;
  height: 100%;
}
.station-details .station-play-button-container {
  margin-right: 24px;
}
.station-details .play-svg-container {
  height: 24px;
  width: 24px;
}
.station-details .station-play-button {
  height: 48px;
  width: 48px;
  background-color: rgb(30, 215, 96);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.station-details .more-actions {
  background-color: antiquewhite;
  width: 24px;
  height: 24px;
}
.station-details .icon {
  width: 100%;
  height: 100%;
}
.station-details svg {
  width: 100%;
  height: 100%;
}

.station-index {
  background-color: rgb(23, 22, 22);
}

.song-list-container {
  margin-left: 20px;
  margin-right: 20px;
}

.song-list .song-index {
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-list .song-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.song-list .list-header {
  display: grid;
  padding-left: 16px;
  padding-right: 16px;
  grid-template-rows: 100%;
  height: 35.2px;
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.1);
  gap: 16px;
  margin-bottom: 10px;
}
.song-list .list-header.playlist {
  grid-template-columns: 16px minmax(120px, 6fr) minmax(120px, 4fr) minmax(120px, 3fr) minmax(120px, 1fr);
}
.song-list .list-header.album {
  grid-template-columns: 16px minmax(120px, 4fr) minmax(120px, 1fr);
}
.song-list .song-preview {
  display: grid;
  height: 56px;
  grid-template-rows: 100%;
  column-gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
}
.song-list .song-preview:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}
.song-list .song-preview.playlist {
  grid-template-columns: 16px minmax(120px, 6fr) minmax(120px, 4fr) minmax(120px, 3fr) minmax(120px, 1fr);
}
.song-list .song-preview.album {
  grid-template-columns: 16px minmax(120px, 4fr) minmax(120px, 1fr);
}
.song-list .song-preview .song-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.song-list .song-preview .song-details .title-and-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.song-list .song-preview .song-details .song-title {
  font-size: 1rem;
}
.song-list .song-preview .song-details .song-artist {
  font-size: 0.875rem;
  color: rgb(167, 167, 167);
}
.song-list .song-preview .date-added {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.song-list .song-preview .song-album {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.song-list .song-preview .song-length {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
