@mixin flex-center {
    display: flex;
    align-items: center;
}

.search {
    background-color: $component-bg-color;

    & .search-header {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
    }

    & .search-input-container {
        margin-left: 20px;
        padding-left: 16px;
        height: 36px;
        width: 100%;
        max-width: 292px;
        min-width: 140px;

        border-radius: 500px;

        padding-top: 6px;
        padding-bottom: 6px;
        background-color: rgb(36, 36, 36);

        display: flex;
        align-items: center;

    }

    & .search-input {
        border: 0px solid white;
        margin-left: 10px;
        color: white;
        height: 30px;

        background-color: rgb(36, 36, 36);

    }

    & .search-svg-container {
        height: 24px;
        width: 24px;
        fill: $secondary-font-color;
    }

    & .search-results {
        padding: 20px;
        margin-top: 24px;
        column-gap: 12px;
        row-gap: 32px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: min-content;

        @media (max-width: 970px) {
            grid-template-columns: repeat(3, minmax(150px, 1fr));
        }

        @media (min-width: 970px) and (max-width: 1160px) {
            grid-template-columns: repeat(4, minmax(150px, 1fr));
        }


        & .top-result {
            grid-column: 1/3;
            height: 174px;
            padding: 20px;
            background-color: rgb(24, 24, 24);
            border-radius: 8px;
            display: flex;
            flex-direction: column;

            & img {
                border-radius: 6px;
                width: 92px;
                height: 92px;
            }

            & .song-details {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            & .title {
                font-size: 32px;
            }

            & .artist {
                font-size: 14px;
            }
        }

        & .rest-of-results {
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-direction: column;
            grid-column: 3 / -1;

            & img {
                width: 40px;
                height: 40px;
            }

            @media (max-width: 970px) {
                grid-column: 1 / 4;
                grid-row: 2;
            }

            & .song-details {
                display: flex;
            }

            & .song-length {
                flex-shrink: 0;
                min-width: 100px;
            }

            & .title-and-artist {
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                flex-shrink: 3;
            }

            .add-to-liked-svg-container {
                width: 16px;
                height: 16px;
                padding-right: 24px;
                fill: $secondary-font-color;
                background-color: transparent;
            }

            & .song-preview {
                display: flex;
                align-items: cen;
                justify-content: space-between;
                height: 56px;
                border-radius: 4px;
                padding-left: 20px;
                padding-right: 16px;

                & .img-container {
                    margin-right: 12px;
                    @include flex-center();
                }

                & .title-and-artist {
                    @include flex-center();
                }

                & .song-length {
                    @include flex-center();
                }

                & .song-options {
                    color: white;
                }

                &:hover {
                    background-color: hsla(0, 0%, 100%, .07)
                }

            }
        }

    }

}