@mixin flex-center {
    display: flex;
    align-items: center;
}

.search {
    background-color: $component-bg-color;

    & .search-results {
        padding: 20px;
        margin-top: 24px;
        column-gap: 12px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: min-content;

        @media (max-width: 970px) {
            grid-template-columns: repeat(3, minmax(150px, 1fr));
        }

        @media (min-width: 970px) and (max-width: 1160px) {
            grid-template-columns: repeat(4, minmax(150px, 1fr));
        }

        & .top-result {
            grid-column: 1/3;
            height: 174px;
            padding: 20px;
            background-color: rgb(24, 24, 24);
            border-radius: 8px;
            gap: 20px;
            display: flex;
            flex-direction: column;

            & img {
                border-radius: 6px;
                width: 92px;
                height: 92px;
            }

            & .song-details {
                display: flex;
                flex-direction: column;
            }

            & .title {
                font-size: 32px;
            }

            & .artist {}
        }

        & .rest-of-results {
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-direction: column;
            grid-column: 3 / -1;

            @media (max-width: 970px) {
                grid-column: 1 / 4;
                grid-row: 2;
            }


            & .song-details {
                display: flex;
            }

            & .song-length {
                flex-shrink: 0;
                min-width: 100px;
            }

            & .title-and-artist {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                overflow: hidden;
                flex-shrink: 3;
            }

            .add-to-liked-svg-container {
                width: 16px;
                height: 16px;
                padding-right: 24px;
                fill: $secondary-font-color;
                background-color: transparent;
            }

            & .song-preview {
                display: flex;
                align-items: cen;
                justify-content: space-between;
                height: 56px;
                border-radius: 4px;

                & .img-container {
                    margin-right: 12px;
                    @include flex-center();
                }

                & .title-and-artist {
                    @include flex-center();
                }

                & .song-length {
                    @include flex-center();
                }

                & .song-options {
                    color: white;
                }

                &:hover {
                    background-color: hsla(0, 0%, 100%, .07)
                }
            }
        }

    }

}