.station-details {
  display: flex;
  flex-direction: column;


  & .station-details-header {
    display: flex;
    background-color: lighten($color: #000000, $amount: 20%);
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    min-height: 340px;
    height: calc((30vw + 200px) / 2);
    max-height: 400px;
    justify-content: flex-start;
    align-items: flex-end;
  }

  & .main-station-details {
    min-height: 400px
  }

  & .station-cover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  & .content-contaier {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  & .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;

  }

  & .station-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  & .additional-info-line {
    display: flex;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;


    & .devider {
      font-size: 14px;
      font-weight: 1000;
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  & .station-details-actions-container {
    height: 60px;
    padding: 20px;
  }

  & .add-to-liked-stations-btn {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin-right: 12px;

    & .station-is-liked-svg-container {
      fill: rgb(30, 215, 96);
    }

    & .add-to-liked-stations-svg-container {
      fill: $secondary-font-color;
    }
  }

  & .station-details-actions {
    display: flex;
    align-items: center;
    height: 100%;
  }

  & .station-play-button-container {}

  & .play-svg-container {
    height: 24px;
    width: 24px;
  }

  & .station-play-button {
    height: 48px;
    width: 48px;
    background-color: rgb(30, 215, 96);
    margin-right: 28px;
    @include roundButton()
  }

  & .more-actions {
    fill: rgb(167, 167, 167);
    background-color: transparent;
    height: 32px;
    width: 32px;
    padding: 0px;
    position: relative;
  }

  & .more-actions-svg-container {
    width: 32px;
    height: 32px;
  }

  & svg {
    width: 100%;
    height: 100%;
  }

  & h1 {
    font-size: 6rem;
    margin: 0px;
    white-space-collapse: collapse;
    line-height: 1;

    @media (max-width: 960px) {
      font-size: 4.5rem;
    }

    @media (max-width: 800px) {
      font-size: 3rem;
    }
  }


  & img {
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    margin-right: 16px;
    object-fit: cover;
    height: calc(16vw);
    min-height: 140px;
    max-height: 350px;
  }
}