.station-details {
  background-color: rgb(23, 22, 22);
  display: flex;
  flex-direction: column;


  & h1 {
    font-size: 6rem;
    margin: 0px;
    white-space-collapse: collapse;
    line-height: 1;

    @media (max-width: 960px) {
      font-size: 4.5rem;
    }

    @media (max-width: 800px) {
      font-size: 3rem;
    }
  }

  & img {
    height: calc(20vw);
    width: auto;
    border-radius: 4px;
    margin-right: 16px;
    min-height: 160px;
    max-height: 232px;
  }

  & .station-details-header {
    display: flex;
    background-color: lighten($color: #000000, $amount: 20%);
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;

    min-height: 250px;
    height: calc((30vw + 250px) / 2);
    max-height: 400px;
  }

  & .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  & .station-info {
    display: flex;
    flex-direction: column;
    height: 234px;
    justify-content: flex-end;
    align-items: flex-start;
  }

  & .additional-info-line {
    display: flex;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;


    & .devider {
      font-size: 14px;
      font-weight: 1000;
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  & .station-details-actions-container {
    height: 60px;
    padding: 20px;
  }

  & .station-details-actions {
    display: flex;
    align-items: center;
    height: 100%;
  }

  & .station-play-button-container {
    margin-right: 24px;
  }

  & .play-svg-container {
    height: 24px;
    width: 24px;
  }

  & .station-play-button {
    height: 48px;
    width: 48px;
    background-color: rgb(30, 215, 96);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .more-actions {
    background-color: antiquewhite;
    width: 24px;
    height: 24px;
    // padding-top: 12px;
    // padding-bottom: 12px;
    // margin-right: 16px;
  }

  & .icon {
    width: 100%;
    height: 100%;
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}