.station-details {
  background-color: rgb(23, 22, 22);
  display: flex;
  flex-direction: column;


  & h1 {
    font-size: 4.5rem;
    margin: 0px;
    white-space-collapse: collapse;
    line-height: 1;
  }

  & img {
    height: 210px;
    width: 210px;
    border-radius: 4px;
    margin-right: 16px;
  }

  & .station-details-header {
    display: flex;
    height: 234px;
    background-color: lighten($color: #000000, $amount: 20%);
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
  }

  & .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  & .station-info {
    display: flex;
    flex-direction: column;
    height: 234px;
    justify-content: flex-end;
    align-items: flex-start;
  }

  & .additional-info-line {
    display: flex;
    margin-top: 8px;
  }

  & .devider {
    font-size: 14px;
    font-weight: 1000;
    margin-left: 4px;
    margin-right: 4px;
  }

  & .station-details-actions-container {
    height: 60px;
    padding: 20px;
  }

  & .station-details-actions {
    display: flex;
    align-items: center;
    height: 100%;
  }

  & .station-play-button-container {
    margin-right: 24px;
  }

  & .station-play-button {
    display: block;
    block-size: 48px;
    background-color: rgb(30, 215, 96);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .more-actions {
    background-color: antiquewhite;
    width: 24px;
    height: 24px;
    // padding-top: 12px;
    // padding-bottom: 12px;
    // margin-right: 16px;
  }

  & .icon {
    width: 100%;
    height: 100%;
  }
}