.play-slider-container {

    display: flex;

    & .MuiSlider-thumb {
        background-color: rgb(171, 171, 171);
        box-shadow: none;
        width: 0px;
        height: 0px;

        &:hover {
            width: 15px;
            height: 15px;
        }
    }

    & .MuiSlider-rail {
        background-color: #969696;
        border: none;
    }

    & .MuiSlider-track {
        background-color: #969696;
        border: none;

        &:hover {
            background-color: rgb(30, 215, 96)
        }
    }
}

.slider-container {

    &.volume {
        width: 150px;
        display: flex;
        align-items: center;
    }

    &.play {
        display: flex;
    }

    & .volume-svg-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 16px;
        height: 16px;
        width: 16px;
        fill: $secondary-font-color;
    }

    & .MuiSlider-thumb {
        background-color: rgb(171, 171, 171);
        box-shadow: none;
        width: 0px;
        height: 0px;
    }

    & .MuiSlider-rail {
        background-color: #969696;
        border: none;
    }

    & .MuiSlider-track {
        background-color: #969696;
        border: none;
    }

    &.active {
        & .MuiSlider-track {
            background-color: rgb(30, 215, 96);
        }

        & .MuiSlider-thumb {
            width: 15px;
            height: 15px;
        }
    }
}

.player-controls {
    display: flex;
    column-gap: 16px;
    align-self: center;


    & .btn-player-control {
        width: 32px;
        height: 32px;
        padding-left: 8px;
        padding-right: 8px;
        fill: $secondary-font-color;

        &.active {
            fill: #1db954;

            &:hover {
                fill: #1ed760;
            }
        }

        &:hover {
            fill: white;
        }

        &.btn-toggle-play {

            background-color: #ffffff;
            border-radius: 9999px;
            fill: rgb(16, 12, 12);
            padding-top: 4px;

            &:hover {
                transform: matrix(1.06, 0, 0, 1.06, 0, 0);
            }
        }

    }
}